*{
    margin: 0;
    padding: 0;
}
body{
    max-width: 1512px;
    margin: 0 auto;
    background-color: rgba(249, 245, 242, 1);
}
header{
    display: flex;
    justify-content: space-between;
    margin: 72px 73px 0 104px;
    & .left{
        display: flex;
           gap:30px;
    }
    & .right{
        display: flex;
        gap:60px;
        font: 400 24px Poppins;
        color:rgba(0, 0, 0, 1);
    }
}
.preview{
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    & .left{
        max-width: 625px;
        margin-top: 162px;
        p{
            font: 400 22px Poppins;
        }
        & .prof{
            font: 800 88px Poppins;
        }
        & button{
            width: 164;
            height: 48;
            border-radius: 15px;
            border-width: 1px;
            border-color:rgba(0, 0, 0, 1);
            background-color: rgba(245, 204, 68, 1);
            font: 600 16px Kanit;
            color:rgba(0, 0, 0, 1);
            box-shadow: 4px 3px 0px 1px rgba(0, 0, 0, 1);
            padding: 12px 23px;
            margin-top: 30px;
        }
    }
}
.getInTouch{
    padding-top: 190px;
    text-align: center;
    max-width: 1025px;
    margin: 0 auto;
    & p{
        font: 400 22px Poppins;
    }
    & p:first-of-type{
        font: 800 150px Poppins;
        margin-bottom: 30px;
    }
    & button{
        font: 600 20px Kanit;
        width: 172;
        height: 52;
        border-radius: 15px;
        border-width: 1px;
        padding: 12px 23px;
        margin-top: 48px;
        color:rgba(0, 0, 0, 1);
        background-color: rgba(255, 107, 107, 1);
        box-shadow: 4px 3px 0px 1px rgba(0, 0, 0, 1);
    }
}
.whatIDo{
    padding-top: 190px;
    color: rgba(0, 0, 0, 1);
    text-align: center;
    margin: 0 135px;
    & p{
        font: 300 25px Poppins;
    }
    & .title{
        font: 800 44px Poppins;
    }
    & .image{
        position: absolute;
        right:0;
        z-index: 1;
        top:1800px
    }
    & .wrapper{
        display: flex;
        margin-top: 75px;
        /* justify-content: space-around; */
        gap:60px;
        & .block{
            box-shadow: 4px 3px 0px 1px rgba(0, 0, 0, 1);
            width: 375px;
            border: 1px solid var(--primary-text, rgba(0, 0, 0, 1));
            border-radius: 15px;
            background-color: rgba(255, 255, 255, 1);
            padding: 108px 75px;
            z-index: 2;
            & p{
                font: 400 16px Kanit;
            }
            & p:first-of-type{
                font-weight: 600;
            }
        }
    }
}
.projects{
    padding-top: 570px;
    color: rgba(0, 0, 0, 1);
    text-align: center;
    margin: 0 35px;
    & p{
        font: 300 25px Poppins;
        margin-bottom: 35px;
    }
    & .title{
        font: 800 44px Poppins;
        margin-bottom: 0;
    }
    & .wrapper{
        display: flex;
        /* justify-content: space-between; */
        gap: 25px;
        & .block{
            text-align: left;
            background-color: #ffffff;
            border: 2px solid rgba(0, 0, 0, 1);
            padding: 15px 15px 45px;
            border-radius: 12px;
            margin-bottom: 25px;
            & img{
                border-radius: 12px;
            }
            & p{
                font: 400 17px Source Code Pro;
                color: rgba(102, 102, 102, 1);
            }
            & .name{
                font: 500 18px Source Code Pro;
                color:rgba(0, 0, 0, 1);
            }
        }
        & .mini{
            width: 430px;
            height: 282px;
        }
        & .large{
            width: 430px;
            height: 352px;
        }
    }
}
main{
    & .image2{
        position: absolute;
        left:0;
        z-index: 1;
        top:2500px;
    }
    & .image1{
        position: absolute;
        right:0;
        z-index: 1;
        top:2450px;
    }
}
.review{
    padding-top: 150px;
    color: rgba(0, 0, 0, 1);
    text-align: center;
    margin: 0 30px;
    & p{
        font: 300 25px Poppins;
        margin-bottom: 35px;
    }
    & .title{
        font: 800 44px Poppins;
        margin-bottom: 0;
    }
    & .top, .bottom{
        display: flex;
        gap:20px;
    }
    & .top{
        margin-bottom: 20px;
    }
    & .block{
        box-shadow: 5px 4px 0px 2px rgba(0, 0, 0, 1);
        border: 2px solid rgba(0, 0, 0, 1);
        border-radius: 12px;
        display: flex;
        & .left{
            width:30%;
            background-color: rgba(222, 222, 222, 1);
            border-radius: 12px 0 0 12px;
        }
        & .right{
            padding: 12px 25px 12px 15px;
            background-color: #ffffff;
            text-align: left;
            padding-bottom: 73px;
            border-radius:  0 12px 12px 0;
            & p{
                font: 400 17px Source Code Pro;
                color: rgba(102, 102, 102, 1);
            }
            & .name{
                font: 500 18px Source Code Pro;
                color:rgba(0, 0, 0, 1);
                margin-bottom: 15px;
            }
            & div{
                text-align: right;
                & button{
                    padding: 8px 12px;
                    border: 1px solid rgba(60, 60, 67, 1);
                    border-radius: 100px;
                    background-color: rgba(60, 60, 67, 1);
                    color: rgba(255, 255, 255, 1);
                }
            }
        }
    }
}
footer{
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    margin-top: 120px;
    font: 500 18px Source Code Pro;
    padding: 23px 50px;
    color: rgba(0, 0, 0, 1);
    display: flex;
    justify-content: space-between;
    & .left{
        max-width: 200px;
    }
    & .right{
        display: flex;
        gap: 30px;
    }
}